@import '../../styles/variables';

.container {
  display: flex;

  [data-component='Button'] {
    margin-right: rem(12);
  }
}

.button {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}
