@import '../styles/variables';

.gallery-container {
  padding: 20px;
}

.pagination {
  margin: rem(50) 0;
  justify-content: flex-end;
}

.gallery-grid {
  display: grid;
  grid-gap: 12.5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  [data-component='Spinner'] {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 50vh;
  }

  [data-component='Image'] {
    width: 100%;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  }

  .load-photo {
    height: 300px;
    width: 100%;
    filter: blur(10px);
    transition: filter 0.3s ease-out;
  }
}

.gallery-item-container {
  padding: 20px;

  .imageContainer {
    margin: 20px 0;

    [data-component='Image'] {
      height: 50vh;
      margin-top: 10px;
      margin: 0 auto;
      border-radius: rem(20);

      &:hover {
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
