@import '../styles/variables';

.pagination {
  margin: rem(50) 0;
  justify-content: flex-end;
}

.gallery-grid {
  display: grid;
  grid-gap: 12.5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(100, 1fr));
  }

  [data-component='Image'] {
    width: 100%;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  }

  .load-photo {
    height: 250px;
    width: 100%;
    filter: blur(10px);
    transition: filter 0.3s ease-out;
  }
}
