@import '../styles/variables';

.gallery-container {
  padding: 20px;
}

.pagination {
  margin: rem(50) 0;
  justify-content: flex-end;
}

.gallery-grid {
  display: grid;
  grid-gap: 12.5px;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));

  [data-component='Spinner'] {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 50vh;
  }

  [data-component='Image'] {
    width: 100%;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  }

  .load-photo {
    height: 240px;
    width: 100%;
    filter: blur(10px);
    transition: filter 0.3s ease-out;
  }
}
