@import '../../styles/variables';

.gallery-item {
  padding-top: rem(25);
  max-width: 1000px;
  margin: 0 auto;

  .back-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem(35);
  }

  [data-component='Button'] {
    margin-right: rem(20);
  }

  .image-card {
    width: 100%;
    min-height: 50vh;
    position: relative;

    .spinner-container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 47vh;
    }

    .spinner-hide {
      display: none;
    }

    .image-hide {
      display: none;
    }

    [data-component='Image'] {
      position: absolute;
      top: 0;
      left: 0;
      padding: rem(24);
      max-height: 50vh;
      width: 100%;
    }

    .load-photo {
      max-height: 50vh;
      width: 100%;
      filter: blur(5px);
      transition: filter 0.3s ease-out;
    }
  }

  .info-card {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    [data-component='Card'] {
      border-radius: 10px;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }

    p {
      font-weight: bold;
    }

    input {
      padding: 6px 12px;
      width: 100%;
    }

    .button-container {
      display: flex;
      flex-direction: column;

      [data-component='Button'] {
        width: 100%;
        margin-top: rem(10);
        justify-content: center;
      }
    }
  }
}
